

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* start header section */
.nav-style{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.nav-title{
    font-size: 28px;
    font-weight: 900px;
    margin-top: 50px;
    margin-left: 150px;
}

.btn-primary{
    font-size: 20px;
    font-weight: 600;
    padding: 17px 24px;
    border-radius: 8px;
    background-color: white;
    box-shadow: #000000;
    margin-right: 150px;
    margin-top: 38px;
    color: #0D1321;

}

.bannar{
    background-image: url("../images/Hero-bg.png");
    margin-top: 36px;
    width: 100%;
    padding: 26px 0 45px 0;
}
.bannar-content{
    text-align: center;
    width: 998px;
    margin: 0 auto; 
    
}
.bannar-title{
    margin-top: 32px;
    font-size: 48px;
    font-weight: 900px;
}
.contact-btn{
    font-size: 20px;
    font-weight: 500px;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 24px 21px;
    background-color: rgba(13, 19, 33, 1);
    margin-top: 32px;

}
.bannar-description{
    color: #0D1321;
    margin-top: 24px;
 } 
 /* header section end */

 /* Main section start  */

 /* web development section start  */
 
 

 main{
    max-width: 1140px;
    margin: 0 auto;
 }
 .web-development{
    text-align: center;
     margin-top: 74px; 
    background-color: rgb(252, 251, 251);
    padding-top: 80px;
    padding-bottom: 80px;
 }
 .web-development .section-title{
   padding: 48px;
 }
 

   
 
 .web-style{
    font-size: 32px;
    font-weight: 900px;                     
    color: #0D1321;
    
 }
 .web-description{
    font-size: 16px;
    font-weight: 400px;
    margin-top: 24px;
    padding: 0 48px;
    
 }
.web-parent{
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 98px;
   padding: 48px 48px;
   background-color: #FFFFFF;
   margin: 32px 97px;

}

.web-child{
   text-align: left;
}
.div-title{
   font-size: 24px;
   font-weight: bold;
   
}
.div-description{
   font-size: 16px;
   font-weight: 400px;
   margin-bottom: 48px;
}
button{
   padding: 12px 20px;
   font-size: 20px;
   font-weight: 600px;
   background-color: rgb(245, 245, 243);
}
button:hover{
   background-color: blueviolet;
}

/* End development section style  */

/* start my inspiration */


 .my-inspiration{
   text-align: center;
  
   
 }
 
.inspiration-title-description{
   padding-left: 144px;
   padding-right: 144px;
}
.inspiration-title-description p {
   font-size: 16px;
   font-weight: 400px;
   color: #0D1321;
   text-shadow: 0px 4px 4px 0px;
}
.inspiration-title-description h3 {
   font-size: 32px;
   font-weight: 900px;
   margin-bottom: 24px;
   margin-top: 90px;

}
 .youtube-video{
   margin-top: 80px;
   padding: 32px 32px;
   border-radius: 16px;
 }
/* inspiration section end */

/* start my current Target */

.target-title-description h3{
   font-size: 32px;
   font-weight: 900px;
   margin-bottom: 24px;
   margin-top: 171px;
}
 p{
   font-size: 16px;
   font-weight: 400px;
   color: #0D1321;
   text-shadow: 0px 4px 4px 0px;
}
.target-title-description{
   padding-left: 144px;
   padding-right: 144px;
}
.current-target{
   text-align: center;
}


 .target-parent{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 48px;
   gap: 24px;
   padding: 40px 40px;
   text-align: left;

 }
 .target-child{
   padding: 40px;
 }
 .html-bg-color{
   background-color:rgba(255, 76, 30, 0.05);
 }
 .css-bg-color{
   background-color: rgba(0, 76, 232, 0.05);

 }
 .javascript-bg-color{
   background-color: rgba(255, 223, 0, 0.05);

 }
 .target-style{
   font-size:24px;
   font-weight: 800px;

 }
 .target-description{
   font-size: 16px;
   font-weight: 400px;
   color: #0D1321;
   text-shadow: 0px 4px 4px 0px;
 }
 .more{
   font-size: 16px;
   font-weight: bold;
   color: #0D1321;
   text-shadow: 0px 4px 4px 0px;
   

 }

 /* start my next target  */

 .my-next-target{
   margin-top: 111px;
 }
 .next-title-description{
   text-align: center;
   margin-bottom: 48px;
}
.next-title-description h3{
   font-size: 32px;
   font-weight: 900px;
   margin-bottom: 24px;
   
}

.next-child{
   padding: 40px;
   display: flex;
   align-items: center;
   gap: 24px;
   border: 1px solid black;
   border-radius: 16px;
   margin-bottom: 16px;

}
.next-child img{
   width: 95px;
   height: 108px;
}
/* I need support section  */

.support{
   background-image: url("../images/handshake.jpg");
   padding: 64px 48px;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   text-align: center;
   color: white;
   margin-top: 30px;
   border-radius: 16px;
}
.support p{
   color: white;
}
input{
   width: 548px;
   padding: 20px;
   border-radius: 8px;
   color: #0D1321;
}
.submit-btn{
   padding: 17px 20px;
   border-radius: 8px;
   font-size: 20px;
   font-weight: 500;
}
.input-area{
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 16px;
}











/* footer */
.footer{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 32px 150px;
   background-color: rgba(13, 19, 33, 0.03);

}
.footer-image{
   gap: 24px;
}

.footer-title h5{
   font-size: 20px;
   font-weight: 500;
}

  
 
